__დავალება 1.__

რომელი ტიპის მონაცებს მიეკუთვნება სია?

* როგორც ცვლად, ასევე არაცვლად ტიპებს  
* არაცვლად ტიპს  
* ცვლად ტიპს

ცვლად ტიპს

__დავალება 2.__

რომელი კონსტრუქცია ან ფუნქცია ქმნის სიას? ჩაწერეთ ყველა სწორი ვარიანტი. 

* `bool()`  
* `int()`  
* `[]`  
* `{}`  
* `list()`  
* `str()`  
* `()`

[], list()

__დავალება 3.__

შეიტანეთ სამი მთელი რიცვხვი ერთი სტრიქონად. შეტანილი რიცხვები გარდაქმენით სიად და დაბეჭდეთ ეკრანზე იმავე თანმიმდევრობით.

```python
Sample Input:
8 11 3

Sample Output:
[8, 11, 3]
```

In [ ]:
a,b,c = input().split()

a = int(a)
b = int(b)
c = int(c)

print([a,b,c])

__დავალება 4.__

შეიტანეთ ქალაქების სახელწოდება ერთი სტრიქონად. მიღებული სტრიქონი გარდაქმენით სიად: `cities = input().split()`. შეამოწმეთ არის თუ არა Gali სიაში. დაბეჭდეთ `True` ან `False`. 

```python
Sample Input:
Rustavi Telavi Gali Senaki

Sample Output:
True
```

In [ ]:
a = list(input().split())
print("Gali" in a)

__დავალება 5.__

რომელი ინდექსით შესაძლებელია სიის ელემენტზე (5) წვდომა:  
`a = [0, True, "Tbilisi", 5, False, "Gori"]`  
ჩაწერეთ ყველა სწორი ვარიანტი.

* 4
* -5
* -3
* -4
* 5
* 3

3,-3

__დავალება 6.__

შეიტანეთ ქალაქების სახელწოდებები ერთ ხაზად. მიღებული სტრიქონი გარდაქმენით სიად: `cities = input().split()`. დაბეჭდეთ სიის ბოლო ელემენტი.

```python
Sample Input:
Tbilisi Batumi Sokhumi Gagra Borjomi

Sample Output:
Владимир
```

In [ ]:
a = list(input().split())
print(a[-1])

__დავალება 7.__

შეიტანეთ მოსწავლის ქულები (მთელი რიცხვი 6-დან 10-ის ჩათვლით) ერთ სტრიქონად. სტრიქონი გარდაქმენით სიად: `marks = list(map(int, input().split()))`. გამოთვალეთ საშუალო ქულა და დაბეჭდეთ ეკრანზე მეათედი სიზუსტით (წერტილის შემდეგ ერთ ციფრი: 8.3).  
მაგ.: `print(round(8.34523, 1)) = 8.3`

```python
Sample Input:
6 6 4 8 8 10 8 6 4

Sample Output:
6.7
```

In [5]:
a = list(map(int, input().split()))
print(round(sum(a)/len(a),1))

__დავალება 8.__

შეიტანეთ ინფორმაცია წიგნის შესახებ (თითოეული მონაცემი სხვადასხვა ზაზზე): სახელწოდება, ავტორი, გვერდების რაოდენობა (მთელი რიცხვი), ფასი (ათწილადი რიცხვი). ამ მომაცემებით შექმენით სია სახელწოდებით `book` შეტანილი ინფორმაციის თანმიმდევრობით. სიიდან წაშალეთ წიგნის ფასი. ავტორი შეცვალეთ: J. Dolson-ით და ფასი გაზარდეთ ორჯერ. მიღებული ინფორმაცია დაბეჭდეთ ეკრანზე: `print(book)`.

```python
Sample Input:
The wolf
A. Peterson
346
15.36

Sample Output:
['The wolf', 'D. Dolson', 30.72]
```

In [17]:
title = input()
name  = input()
size = eval(input())
price = eval(input())


list = [title,name,size]

list[1] = 'J. Dolson'
price = price * 2

print(list)

__დავალება 9.__

შეიტანეთ სპორტულ არხზე ხელმომწერთა რაოდენობა დღეების მიხედვით ერთ ხაზზე. შეტანილი ინფორმაცია გარდაქმენით სიად. დაბეჭდეთ ეკრანზე მაქსიმალური, მინიმალური და ჯამი.

```python
Sample Input:
52 65 64 54 68 59 42 63

Sample Output:
68 42 467
```

In [17]:
a = list(map(int, input().split()))

print(max(a),min(a),sum(a))

__დავალება 10.__

შეიტანეთ სპორტულ არხზე ხელმომწერთა რაოდენობა დღეების მიხედვით ერთ ხაზზე. შეტანილი ინფორმაცია გარდაქმენით სიად. ეკრანზე დაბეჭდეთ სორტირებული მონაცემები კლებადობის მიხედვით. `print(*lst)`

```python
Sample Input:
52 65 64 54 68 59 42 63

Sample Output:
68 65 64 63 59 54 52 42
```

In [17]:
a = list(map(int, input().split()))
a.sort()
a.reverse()
print(*a)

__დავალება 11.__

შეუსაბამეთ ერთმანეთს სიის ოპერატორები მათ აღწერილობას.

* `+` – ორი სიის გაერთიანება ერთ სიად
* `*` – ელემენტის არსებობის შემოწმება სიაში
* `in` – სიის დუბლირება
* `del` – ელემენტის წაშლა სიიდან

+ - ორი სიის გაერთიანება ერთ სიად
* - სიის დუბლირება
in - ელემენტის შემოწმება სიაში
del - ელემენტის წაშლა სიიდან

__დავალება 12.__

შეიტანეთ ქალაქების სახელწოდებები ერთ ხაზზე. შეტანილი ინფორმაციით შექმენით სია. შექმნილი სია დაამატეთ `cities = ["Tbilisi", "Rustavi", "Telavi"]` სიის ბოლოში. მიღებული შედეგი დაბეჭდეთ. `print(*lst)`

```python
Sample Input:
Zugdidi Gori Oni

Sample Output:
Tbilisi Rustavi Telavi Zugdidi Gori Oni
```

In [14]:
a = list(input().split())
cities = ["Tbilis","Rustavi","Telavi"]
print(a + cities)

__დავალება 13.__

შეიტანეთ ქალაქების სახელწოდებები ერთ ხაზზე. შეტანილი ინფორმაციით შექმენით სია. შექმნილი სია დაამატეთ `cities = ["Batumi", "Poti", "Ambrolauri"]` სიის თავში. მიღებული შედეგი დაბეჭდეთ. `print(*lst)`

```python
Sample Input:
Khobi Khoni Kaspi

Sample Output:
Khobi Khoni Kaspi Batumi Poti Ambrolauri
```

In [14]:
a = list(input().split())
cities = ["Batumi","Poti","Ambrolauri"]
print(cities + a)